:root{
    --bg-side-bar:#ffffff;
    --bg-mn-bg:#000000af;
}
body{
    margin:0;
}

/* menu-container */
.menu-container{
    top:0;
    left:0;
    visibility:hidden;
    display:flex;
    transition:all 0.2s linear ;
}
.menu-background{
    height:100vh;
    width:100vW;
    background-color: var(--bg-mn-bg);
    display:block;
}
.active{
    visibility:visible;
}





/* side-bar */
#side-bar {
    display: block;
    position:sticky;
    /*width: 25vw;*/
    height: 100vh;
    background-color: var(--bg-side-bar);
    z-index: 100000;
    transform:translateX(-100%);
    transition:0.5s;
}
#side-bar.active{
    transform: translateX(0);
    transition:0.5s;
}
 #side-bar ul li {
     color:rgba(230,230,230,9); 
     text-align: center;
     padding: 10px;
     border-bottom: 1px solid #292929cb;
     list-style: none;
 }





/* loist items */
#side-bar ul {
    padding-inline-start: 0;    
}
.logo{
     border-radius: 10%;
     display:block;
     margin:0 auto;
     max-width:10vw;
     min-width: 100px;
}








/* boton togle */
#menu-toggle-btn{
     position:absolute;
     left:230px;
     top:200px;
}
#side-bar .toggle-btn span{
    display:block;
    width:30px;
    text-align: center;
    border:1px solid #000

}
#close-menu{
    position:relative;
    top:15px;
    left:15px;
    color:rgb(17, 17, 17);
}
.btn{
    background:transparent;
    cursor: pointer;
    margin:5px;
}







