:root{
    --bg-side-bar:#ffffff;
    --bg-mn-bg:#000000af;
    --principal-color:#1e73be;
}
body{
    margin:0;
}

/* menu-container */
.menu-container{
    top:0;
    left:0;
    visibility:hidden;
    display:flex;
    transition:all 0.2s linear ;
    background-color: var(--bg-mn-bg);
}
.menu-background{
    height:100vh;
    width:100vW;
    display:block;
}
.active{
    visibility:visible;
}





/* side-bar */
#side-bar {
    display: block;
    position:sticky;
    min-width: 27vw;
    height: 100vh;
    background-color: var(--bg-side-bar);
    z-index: 100000;
    transform:translateX(-100%);
    transition:0.5s;
    align-items: stretch;
    font-family: Arial, sans-serif;
}
#side-bar.active{
    transform: translateX(0);
}
#side-bar ul li {
    color:#000; 
    list-style: none;
    
 }






/* list items */
#side-bar ul {
    padding-inline-start: 0;    
    margin-top:0;
}
.logo{
     border-radius: 10%;
     display:block;
     margin:0 auto;
     max-width:12vw;
     min-width: 12rem;
}
#side-bar ul li a{
    display: flex;
    justify-content:space-between;
    color:#000;
    text-decoration: none;
    padding:12px 20px 12px 36px;
    font-size: 12px;
}
.list-title{
    font-size:17px;
    padding:15px 20px 15px 36px;
}







/* boton togle */
#menu-toggle-btn{
     position:absolute;
     left:20px;
     top:20px;
}
#side-bar .toggle-btn span{
    display:block;
    width:30px;
    text-align: center;
    border:1px solid #000

}
#close-menu{
    position:relative;
    font-size:3rem;
    top:15px;
    left:15px;
    color:rgb(255, 255, 255);
    transition:all 1s circle;
}
.btn{
    background:transparent;
    cursor: pointer;
    margin:5px;
}







.header-menu{
    background:var(--principal-color);
    color:white;
    width:100%;
    height:2rem;    
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.header-menu a{
    text-decoration: none;
    padding:10px;
    color:white;
}